/* navbar */
@media (max-width: 991px) {
  .nav-bar ul {
    justify-content: flex-start !important;
    overflow-x: auto;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    padding: 0px 15px;
    scrollbar-width: none;
    /* Firefox */
  }

  .nav-bar ul::-webkit-scrollbar {
    display: none;
    /* Chrome/Safari */
  }

  .nav-bar ul li {
    white-space: nowrap;
  }
}

/* responsive border */
@media (min-width: 768px) {
  .imti-border {
    border: 1px solid var(--bar-s);
  }

  .b-right {
    border-right: 1px solid var(--bar-s);
  }

  /* lead news */
  .router {
    height: 240px;
    object-fit: cover;
  }

  .router-2 {
    height: 175px;
    object-fit: cover;
  }
}